* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #47230e;
    font-family: "Lato", sans-serif;
    background-color: #F3E9DC;
}

header {
    background-color: #856147;
    color: #F3E9DC;
    padding: 3rem;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

header h1 {
    font-family: "Lobster two", sans-serif;
    font-size: 3rem;
    margin: 0;
}

header img {
    width: 110px;
    height: auto;
    position: absolute;
    left: 2rem;
}

main {
    max-width: 10000px;
    margin: 0 auto;
    padding: 1.5rem;
    background-color: #F3E9DC;
}

section {
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    text-align: center;
}

h1, h2, h3 {
	text-align: center;
    font-weight: bold;
    font-family: "Lobster two", sans-serif;
}

h2 {
    color: #856147;
    border-bottom: 2px solid;
    padding-bottom: 0.5rem;
}

h3 {
    color: #47230e;
}

p, li {
    line-height: 1.6;
}

.wireframe h2 {
    font-family: "Lobster Two";
    color: #47230e;
    margin-bottom: 1rem;
}


footer {
    background-color: #856147;
    color: #F3E9DC;
    text-align: center;
    padding: 2.1rem;
    margin-top: 1rem;
    font-size: 1.2rem;
}

@media screen and (min-width: 650px) {

    main {
        grid-template-columns: repeat(3, 1fr);
        display: grid;
    }

    .logo {
        height: auto;
        width: 10rem;
        display: block;
    }
    
    h2 {
		grid-column: 1 / -1;
        font-size: 2.2rem;
        font-weight: bold;
        text-align: center;
    }

    .wireframes {
        grid-template-columns: 1fr;
    }
}