body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #143357;
}

header {
    background-color: #0b214b;
    color: #fff;
}

#course-title {
    display: block;
    text-align: center;
    padding: 30px;
    font-size: 30px;
}

main {
    max-width: 1150px;
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: .5rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px #000;
    padding: 2px;
    float: right;
    margin: 1rem 0 1rem 1rem;
}

h1 {
    grid-column: 1/3;
	background-color: #fff;
	padding: 1rem;
	font-size: 2rem;
	text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
	background-color: #292929;
	margin: 0 auto;
}

nav a {
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
    flex: 1;
}

nav a:hover {
	text-decoration: underline;
    background-color: #253553;
}

footer {
    background-color: #0b214b;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
}

#lastModified {
    color: #fffb00;
    font-size: 0.9rem;
}

.card {
    border: 1px solid #000;
    border-radius: 10px;
}

.card h2 {
    background-color: #0b214b;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0.7rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.7rem;
}

.card h3 {
    width: 65%;
    margin-left: 2rem;
    padding-bottom: 0.3rem;
    text-align: center;
    border-bottom: 1px solid #bbb;
    margin-bottom: 0;
}

.card p {
    padding: 1rem;
    line-height: 1.6;
}

.card img {
    max-width: 100%;
    height: auto;
}

.profile {
    width: 130px;
    height: auto;
    justify-self: end;
    align-self: start;
}

.country {
    display: grid;
    grid-template-columns: 160px 390px;
    gap: 1rem;
    align-items: start;
    padding: 1rem;
}

.country figure {
    margin: 0;
    text-align: center;
}

.country figcaption {
    margin-top: 7rem;
    text-align: center;
    font-style: italic;
}

.country p {
    margin: 0;
    padding: 0;
}

.flag {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.aboutme {
    display: grid;
    grid-template-columns: 1fr 140px;
    padding: 1rem;
}

.location {
    position: relative;
    top: -50px;
}

.resources {
    display: flex;
    align-items: center;
    min-height: 350px;
    padding: 1rem;
}

.resources ul {
    line-height: 1.7;
    padding-left: 2rem;
}

